body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}
h1{
  font-size: 36px;
  color:#fff;
}
h2{
  font-size: 20px;
  color:#23648c;
}
h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}
h4{
  font-size: 16px;
}
a {
  color: #23b222;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}
a:hover, a:focus {
  color: #d43133;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.btn-enviar{
  margin-left: 126px;
}
.btn-primary {
  padding: 8px 20px;
  background: #23648c;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}
.btn-primary:hover, .btn-primary:focus{
  background: #23648c;
  outline: none;
  box-shadow: none;
} 
.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}
.media>.pull-left{
  margin-right: 20px;
}
.media>.pull-right{
  margin-left: 20px;
}
.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}
body > section {
  padding: 150px 15px 10px 24px;
}
.center {
  text-align: center;
  padding-bottom: 55px;
}
.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#header .search{
  display: inline-block;
}
.navbar>.container .navbar-brand{
  margin-left: 0;
}
.top-bar {
  padding: 10px 0;
  background: #23648c;
  border-bottom: 1px solid #222;
  line-height: 28px;
}
.top-number{
  color: #fff;
}
.top-number p{
  margin: 0
}
.social{
  text-align: right;
}
.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}
ul.social-share li {
  display: inline-block;
}
ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}
ul.social-share li a:hover {
  background: #23648c;
  color: #fff;
}
.search i {
  color: #fff;
}
input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
input.search-form::-webkit-input-placeholder{
  color: transparent;
}
input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}
input.search-form:hover {
  width: 180px;
}
.navbar-brand {
  height: 70px;
  position: relative;
  line-height: 45px;
  padding-top: 0px;
}
.navbar-brand img{
  width: 240px;
  height: 70px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #3e3e3e;
  padding: 10px 0;
  padding-bottom: 0;
}
.navbar-nav{
  margin-top: 12px;
 }
.navbar-nav>li{
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 28px;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #24668e;
  line-height: 24px;
  display: inline-block;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #24668e;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:active{
  background-color: #23b222;
  color: #fff;
}
.navbar-inverse {
  border: none;
}
.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #23b222;
  color: #fff;
}
.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  text-align: center;
  left: 0;
}
.navbar-default .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}
.navbar-default .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}
.navbar-default .navbar-nav .dropdown-menu > li:hover > a,
.navbar-default .navbar-nav .dropdown-menu > li:focus > a,
.navbar-default .navbar-nav .dropdown-menu > li.active > a {
  background-color: #23648c;
  color: #fff;
}
.navbar-default .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.title{
  border-bottom: 1px solid #E2E2E2;
}
@media (min-width: 768px) and (max-width: 780px) {
  .responsive-logo a {
    float: none !important;
  }
  #main-slider .carousel .item {
    width: 285px;
    height: 90px;
  }
}
@media (max-width: 480px) {
    .responsive-logo img {
            width: 90%;
    }
    .responsive-logo {
      position: relative;
      text-align: center;
    } 
    .responsive-logo a {
      text-align: center;
      float: none !important;
    }
    .btn-enviar{
      margin-left: 55px;
    }
    #main-slider .carousel .item {
      width: 285px;
      height: 90px;
    }
    .timeline{
      width: 220px;
      text-align: center;
    }
    .timeline .col-sm-5{
      width: 250px;
      text-align: center;
    }
    .timeline .col-sm-5 .text-muted{
      text-align: center;
    }
    .timeline li{
      text-align: center;
    }
    .timeline li .text-muted{
      text-align: center;
    }
    /*section*/
    /*#div_comp{
      width:400px; 
      margin:auto;
    }
    #servicios{
      width:400px; 
      margin:auto;
    }
    #productos{
      width:400px; 
      margin:auto;
    }
    #tecnologias{
      width:400px; 
      margin:auto;
    }
    #alianzas{
      width:400px; 
      margin:auto;
    }*/
    /*fin section*/
}
/*************************
*******Home Page******
**************************/
#main-slider {
  position: relative;
}
.no-margin {
  margin: 0;
  padding: 0;
}
#main-slider .carousel .carousel-content {
  margin-top: 150px;
}
#main-slider .carousel .slide-margin{
  margin-top: 140px;
}
#main-slider .carousel h2 {
  color: #fff;
}
#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #23b222;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
  border: 1px solid white;
}
#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}
#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 730px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #23648c;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px white;
  z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #000;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}
#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  left: -3px;
  top: -3px;
}
#main-slider .carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #23648c;
   margin: 0 15px 0 0;
   border: 1px solid #23648c;
   position: relative;
}

#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #23648c;
  border: 1px solid #23648c;
  left: -3px;
  top: -3px;
}
#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
}
.features{
  padding: 0;
}
.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
  float: left;
}
.feature-wrap h2{
  margin-top: 10px;
}
.feature-wrap .pull-left {
  margin-right: 25px;
}
.feature-wrap i{
  font-size: 48px;
  height: 150px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #23648c;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}
.feature-wrap i:hover {
  background: #23648c;
  color: #fff;
  box-shadow: inset 0 0 0 5px #23648c;
  -webkit-box-shadow: inset 0 0 0 5px #23648c;
  border: 3px solid #23648c;
}
/*section*/
/*.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    margin: auto;
    text-align: center;
}*/

/*.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #22b222;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}*/

/*#compania{
  width:1100px; 
  margin:auto;
}
#servicios{
  width:1100px; 
  margin:auto;
}
#productos{
  width:1100px; 
  margin:auto;
}
#tecnologias{
  width:1100px; 
  margin:auto;
}
#alianzas{
  width:1100px; 
  margin:auto;
}*/
/*fin section*/

/*producos*/
.cajas_productos{
  margin: auto;
}
.cajas_productos .products{
    float: left;
    position: relative;
    margin: auto;
}
.products img{
  width: 380px;
  height: 285px;
  margin: auto;
}
/**/

/*New tecnologis*/
.new-tecnology{

}
.no-margin{
  margin: 0;
  padding: 0;
  width: 100%;
}
#tecnologias .carousel .item{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: -10px;
  margin-top: -20px;
  padding-bottom: -20px;
  margin-bottom: -30px;
  width: 100%;
  height: 750px;
}
#tecnologias .carousel .item img{
  width: 100%;
  margin: 0;
  padding: 0;
}
/**/

.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #C52D2F;
  height: 84px;
  margin-top: 110px;
}
.footer_left {
  padding: 10px;
}
.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}
#error .btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #23648c;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
@media (max-width: 480px) {
  .navbar-brand img{
    width: 180px;
    height: 70px;
  }
}
